@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Pacifico&family=Roboto&family=Tilt+Warp&display=swap");
#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #ffffff;
}

/* .banner {
  background-image: url("../../assets/images/Depositphotos_278035664_S.jpg");
} */

/* .headings1{
  background-image: url("../../assets/images/pexels-sora-\ small5935744\(4\)\ croped\ 2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:2% ;




} */
.headings1{
  margin-top: 2%;
}
.banner{
  background-image: url('../../assets/images/Depositphotos_278035664_S.jpg');
  background-repeat: repeat;
  background-size: contain;
}
.hero_1{
  background-image: url("../../assets/images/pexels-sora-\ small5935744\(4\)\ croped\ 2.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  /* margin: 2%; */
}
.hero_1 img {
  display: none;
  /* background-image: url("../../assets/pexels-sora-shimazaki-5935744\(4\).jpg");
  background-size: cover;
  width: 100%; */
}
.hero_2 {
  background-image: url("../../assets//images/pexels-small-media-6868619.jpg");
  /* background-size: cover; */
  width: 100%;
}
.hero3{
  background-image: url('../../assets//images/pexels-borko-manigoda-1778412.jpg');
  width: 100%;
}

.hero_1 img {
  display: none;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.loader {
  border: 3px solid #ffffff;
  border-top: 3px solid rgb(107, 118, 212);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.star {
  color: #ffdb58;
  font-size: 0.7em;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* carousel */

p {
  color: #465b52;
  margin: 15px 0 20px 0;
}

#main_img {
  width: 50%;
  max-height: 350px;
}

.carousel-smaller {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
.small_img {
  cursor: pointer;
  height: 100px;
  border: 1px solid #131212;
}
.carousel-smaller > img.active {
  border-color: #333;
  opacity: 0.6;
}
/* .banner {
  height: 200px;
  
} */
.view_button {
  background-color: #ffdb58;
  color: #131212;
  border: none;
  font-family: "Fugaz One", cursive;
  border-radius: 5px;
  padding: 2% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.view_button:hover {
  background-color: #6b76d4;
  color: #ffdb58;
}
.container {
  padding: 1%;
}
figure {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.product {
  background-color: #ffffff;
  padding: 3%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 2px solid #131212;
  gap: 0.5rem;
  cursor: pointer;
}
.product:hover {
  box-shadow: 5px 5px 5px rgba(233, 223, 223, 0.918);
  transition: all 0.2s ease-in-out;
}
figcaption {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: start;
}
figcaption span {
  color: #d4d4d4;
  font-size: 0.9em;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img_div {
  height: 200px;
  padding: 1%;
}
.img_div img {
  max-height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.price_div {
  display: flex;
  justify-content: space-between;
}
.price_div h5 {
  font-size: 1.2em;
}

@media (min-width: 481px) {
  .headings1{
/*     
    background-image: url('../../assets/images/pexels-sora-\ small5935744\(4\).jpg');
    background-size: cover;
    background-repeat: repeat;
    margin-top:2% ; */
    
  }
  .hero_1{
    background-image: url('../../assets/images/pexels-sora-\ small5935744\(4\).jpg');
    background-size: cover;
    background-repeat: repeat;
    /* margin-top:2% ; */

  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2%;
  }
}
@media(min-width:641px){
  /* .headings1{
    background-image: url('../../assets/images/pexels-sora-shimazaki-5935744\(5\)tablet.jpg');
  } */
  .hero_1{
    background-image: url('../../assets/images/pexels-sora-shimazaki-5935744\(5\)tablet.jpg');
  }
}
@media (min-width: 961px) {
  .headings1{
    background-image: none;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2%;
  }
  .carousel-smaller {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
  }
  #main_img {
    width: 100%;
  }
}
