@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Pacifico&family=Roboto&family=Tilt+Warp&display=swap');
#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #ffffff;
  }

  /* main{
    background-image: url('../../assets/pexels-sora-shimazaki-5935744\(4\).jpg');
    background-size: contain;
  } */
  .banner{
    background-image: url('../../assets/17973858.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
  }
  @media(max-width:481px){
    .banner{
      background-repeat: no-repeat;
    }
    .hero_1{
      background-image: url('../../assets/pexels-sora-shimazaki-5935744\(4\).jpg');
      background-size: contain;
      width: 100%;
    }
    
  }
  @media (max-width: 768px){
    .hero_1{
      background-image: url('../../assets/pexels-sora-shimazaki-5935744\(4\).jpg');
      background-size: cover;
      width: 100%;
    }
    .banner{
      background-repeat: no-repeat;
    }

    .hero_1 img{
      display: none;
    }
  }
  html{
    scroll-behavior: smooth;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    width: 100%;
  }
  ul li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .loader {
    border: 3px solid #ffffff;
    border-top: 3px solid rgb(107, 118, 212); 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loader_wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* carousel */
  .carousel {
    display: flex;
    flex-direction: column;
  }
  p{
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .carousel > img {
    max-width: 45%;
    max-height: 400px;
  }
  
  .carousel-smaller {
    display: flex;
    width: 50%;
  }
  
  .carousel-smaller > img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #333;
  }
  
  .carousel-smaller > img.active {
    border-color: #333;
    opacity: 0.6;
  }
  .banner{
    /* background-image: url('../assets/17973858.jpg'); */
    height: 200px;
    object-fit: contain;
  }
  .view_button {
    background-color: #ffdb58;
    color: #131212;
    border: none;
    font-family: "Fugaz One", cursive;
    border-radius: 5px;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
  }
  .view_button:hover{
    background-color: #6b76d4;
    color: #ffdb58;
  }
  .container {
    padding: 1%;
  }
  .product {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 2px solid #131212;
    gap: .5rem;
    cursor: pointer;
  }
  .product:hover {
    box-shadow: 5px 5px 5px rgba(233, 223, 223, 0.918);
    transition: all 0.2s ease-in-out;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2%;
  }
  figcaption{
    display: flex;
    gap: .5rem;
    flex-direction: column;
    text-align: start;
  
  }
  figcaption span{
    color: #d4d4d4;
    font-size: .9em;
  }
  figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img_div {
    height: 200px;
    padding: 1%;
  }
  .img_div img{
      max-height: 100%;
      border-radius: 5px;
      object-fit: cover;
  }
  .price_div {
    display: flex;
    justify-content: space-between;
  }
  .price_div h5{
    font-size: 1.2em;
  }